.bg-heatmap-white{
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0)
}

.bg-heatmap-red-100 {
    background-color: rgb(255, 0, 0)
}

.bg-heatmap-red-99 {
    background-color: rgb(251, 0, 0)
}

.bg-heatmap-red-98 {
    background-color: rgb(248, 0, 0)
}

.bg-heatmap-red-97 {
    background-color: rgb(245, 0, 0)
}

.bg-heatmap-red-96 {
    background-color: rgb(243, 0, 0)
}

.bg-heatmap-red-95 {
    background-color: rgb(240, 0, 0)
}

.bg-heatmap-red-94 {
    background-color: rgb(238, 0, 0)
}

.bg-heatmap-red-93 {
    background-color: rgb(235, 0, 0)
}

.bg-heatmap-red-92 {
    background-color: rgb(233, 0, 0)
}

.bg-heatmap-red-91 {
    background-color: rgb(230, 0, 0)
}

.bg-heatmap-red-90 {
    background-color: rgb(228, 0, 0)
}

.bg-heatmap-red-89 {
    background-color: rgb(225, 0, 0)
}

.bg-heatmap-red-88 {
    background-color: rgb(223, 0, 0)
}

.bg-heatmap-red-87 {
    background-color: rgb(220, 0, 0)
}

.bg-heatmap-red-86 {
    background-color: rgb(218, 0, 0)
}

.bg-heatmap-red-85 {
    background-color: rgb(215, 0, 0)
}

.bg-heatmap-red-84 {
    background-color: rgb(213, 0, 0)
}

.bg-heatmap-red-83 {
    background-color: rgb(210, 0, 0)
}

.bg-heatmap-red-82 {
    background-color: rgb(208, 0, 0)
}

.bg-heatmap-red-81 {
    background-color: rgb(205, 0, 0)
}

.bg-heatmap-red-80 {
    background-color: rgb(203, 0, 0)
}

.bg-heatmap-red-79 {
    background-color: rgb(200, 0, 0)
}

.bg-heatmap-red-78 {
    background-color: rgb(198, 0, 0)
}

.bg-heatmap-red-77 {
    background-color: rgb(195, 0, 0)
}

.bg-heatmap-red-76 {
    background-color: rgb(193, 0, 0)
}

.bg-heatmap-red-75 {
    background-color: rgb(190, 0, 0)
}

.bg-heatmap-red-74 {
    background-color: rgb(188, 0, 0)
}

.bg-heatmap-red-73 {
    background-color: rgb(185, 0, 0)
}

.bg-heatmap-red-72 {
    background-color: rgb(183, 0, 0)
}

.bg-heatmap-red-71 {
    background-color: rgb(180, 0, 0)
}

.bg-heatmap-red-70 {
    background-color: rgb(178, 0, 0)
}

.bg-heatmap-red-69 {
    background-color: rgb(175, 0, 0)
}

.bg-heatmap-red-68 {
    background-color: rgb(173, 0, 0)
}

.bg-heatmap-red-67 {
    background-color: rgb(170, 0, 0)
}

.bg-heatmap-red-66 {
    background-color: rgb(168, 0, 0)
}

.bg-heatmap-red-65 {
    background-color: rgb(165, 0, 0)
}

.bg-heatmap-red-64 {
    background-color: rgb(163, 0, 0)
}

.bg-heatmap-red-63 {
    background-color: rgb(160, 0, 0)
}

.bg-heatmap-red-62 {
    background-color: rgb(158, 0, 0)
}

.bg-heatmap-red-61 {
    background-color: rgb(155, 0, 0)
}

.bg-heatmap-red-60 {
    background-color: rgb(153, 0, 0)
}

.bg-heatmap-red-59 {
    background-color: rgb(150, 0, 0)
}

.bg-heatmap-red-58 {
    background-color: rgb(148, 0, 0)
}

.bg-heatmap-red-57 {
    background-color: rgb(145, 0, 0)
}

.bg-heatmap-red-56 {
    background-color: rgb(143, 0, 0)
}

.bg-heatmap-red-55 {
    background-color: rgb(140, 0, 0)
}

.bg-heatmap-red-54 {
    background-color: rgb(138, 0, 0)
}

.bg-heatmap-red-53 {
    background-color: rgb(135, 0, 0)
}

.bg-heatmap-red-52 {
    background-color: rgb(133, 0, 0)
}

.bg-heatmap-red-51 {
    background-color: rgb(130, 0, 0)
}

.bg-heatmap-red-50 {
    background-color: rgb(128, 0, 0)
}

.bg-heatmap-red-49 {
    background-color: rgb(125, 0, 0)
}

.bg-heatmap-red-48 {
    background-color: rgb(123, 0, 0)
}

.bg-heatmap-red-47 {
    background-color: rgb(120, 0, 0)
}

.bg-heatmap-red-46 {
    background-color: rgb(118, 0, 0)
}

.bg-heatmap-red-45 {
    background-color: rgb(115, 0, 0)
}

.bg-heatmap-red-44 {
    background-color: rgb(113, 0, 0)
}

.bg-heatmap-red-43 {
    background-color: rgb(110, 0, 0)
}

.bg-heatmap-red-42 {
    background-color: rgb(108, 0, 0)
}

.bg-heatmap-red-41 {
    background-color: rgb(105, 0, 0)
}

.bg-heatmap-red-40 {
    background-color: rgb(103, 0, 0)
}

.bg-heatmap-red-39 {
    background-color: rgb(100, 0, 0)
}

.bg-heatmap-red-38 {
    background-color: rgb(98, 0, 0)
}

.bg-heatmap-red-37 {
    background-color: rgb(95, 0, 0)
}

.bg-heatmap-red-36 {
    background-color: rgb(93, 0, 0)
}

.bg-heatmap-red-35 {
    background-color: rgb(90, 0, 0)
}

.bg-heatmap-red-34 {
    background-color: rgb(88, 0, 0)
}

.bg-heatmap-red-33 {
    background-color: rgb(85, 0, 0)
}

.bg-heatmap-red-32 {
    background-color: rgb(83, 0, 0)
}

.bg-heatmap-red-31 {
    background-color: rgb(80, 0, 0)
}

.bg-heatmap-red-30 {
    background-color: rgb(78, 0, 0)
}

.bg-heatmap-red-29 {
    background-color: rgb(75, 0, 0)
}

.bg-heatmap-red-28 {
    background-color: rgb(73, 0, 0)
}

.bg-heatmap-red-27 {
    background-color: rgb(70, 0, 0)
}

.bg-heatmap-red-26 {
    background-color: rgb(68, 0, 0)
}

.bg-heatmap-red-25 {
    background-color: rgb(65, 0, 0)
}

.bg-heatmap-red-24 {
    background-color: rgb(63, 0, 0)
}

.bg-heatmap-red-23 {
    background-color: rgb(60, 0, 0)
}

.bg-heatmap-red-22 {
    background-color: rgb(58, 0, 0)
}

.bg-heatmap-red-21 {
    background-color: rgb(55, 0, 0)
}

.bg-heatmap-red-20 {
    background-color: rgb(53, 0, 0)
}

.bg-heatmap-red-19 {
    background-color: rgb(50, 0, 0)
}

.bg-heatmap-red-18 {
    background-color: rgb(48, 0, 0)
}

.bg-heatmap-red-17 {
    background-color: rgb(45, 0, 0)
}

.bg-heatmap-red-16 {
    background-color: rgb(43, 0, 0)
}

.bg-heatmap-red-15 {
    background-color: rgb(40, 0, 0)
}

.bg-heatmap-red-14 {
    background-color: rgb(38, 0, 0)
}

.bg-heatmap-red-13 {
    background-color: rgb(35, 0, 0)
}

.bg-heatmap-red-12 {
    background-color: rgb(33, 0, 0)
}

.bg-heatmap-red-11 {
    background-color: rgb(30, 0, 0)
}

.bg-heatmap-red-10 {
    background-color: rgb(28, 0, 0)
}

.bg-heatmap-red-9 {
    background-color: rgb(25, 0, 0)
}

.bg-heatmap-red-8 {
    background-color: rgb(23, 0, 0)
}

.bg-heatmap-red-7 {
    background-color: rgb(20, 0, 0)
}

.bg-heatmap-red-6 {
    background-color: rgb(18, 0, 0)
}

.bg-heatmap-red-5 {
    background-color: rgb(15, 0, 0)
}

.bg-heatmap-red-4 {
    background-color: rgb(13, 0, 0)
}

.bg-heatmap-red-3 {
    background-color: rgb(10, 0, 0)
}

.bg-heatmap-red-2 {
    background-color: rgb(8, 0, 0)
}

.bg-heatmap-red-1 {
    background-color: rgb(5, 0, 0)
}

.bg-heatmap-red-0 {
    background-color: rgb(0, 0, 0)
}
