.bg-heatmap-blue-100 {
    background-color: rgb(0, 0, 255)
}

.bg-heatmap-blue-99 {
    background-color: rgb(0, 0, 251)
}

.bg-heatmap-blue-98 {
    background-color: rgb(0, 0, 248)
}

.bg-heatmap-blue-97 {
    background-color: rgb(0, 0, 245)
}

.bg-heatmap-blue-96 {
    background-color: rgb(0, 0, 243)
}

.bg-heatmap-blue-95 {
    background-color: rgb(0, 0, 240)
}

.bg-heatmap-blue-94 {
    background-color: rgb(0, 0, 238)
}

.bg-heatmap-blue-93 {
    background-color: rgb(0, 0, 235)
}

.bg-heatmap-blue-92 {
    background-color: rgb(0, 0, 233)
}

.bg-heatmap-blue-91 {
    background-color: rgb(0, 0, 230)
}

.bg-heatmap-blue-90 {
    background-color: rgb(0, 0, 228)
}

.bg-heatmap-blue-89 {
    background-color: rgb(0, 0, 225)
}

.bg-heatmap-blue-88 {
    background-color: rgb(0, 0, 223)
}

.bg-heatmap-blue-87 {
    background-color: rgb(0, 0, 220)
}

.bg-heatmap-blue-86 {
    background-color: rgb(0, 0, 218)
}

.bg-heatmap-blue-85 {
    background-color: rgb(0, 0, 215)
}

.bg-heatmap-blue-84 {
    background-color: rgb(0, 0, 213)
}

.bg-heatmap-blue-83 {
    background-color: rgb(0, 0, 210)
}

.bg-heatmap-blue-82 {
    background-color: rgb(0, 0, 208)
}

.bg-heatmap-blue-81 {
    background-color: rgb(0, 0, 205)
}

.bg-heatmap-blue-80 {
    background-color: rgb(0, 0, 203)
}

.bg-heatmap-blue-79 {
    background-color: rgb(0, 0, 200)
}

.bg-heatmap-blue-78 {
    background-color: rgb(0, 0, 198)
}

.bg-heatmap-blue-77 {
    background-color: rgb(0, 0, 195)
}

.bg-heatmap-blue-76 {
    background-color: rgb(0, 0, 193)
}

.bg-heatmap-blue-75 {
    background-color: rgb(0, 0, 190)
}

.bg-heatmap-blue-74 {
    background-color: rgb(0, 0, 188)
}

.bg-heatmap-blue-73 {
    background-color: rgb(0, 0, 185)
}

.bg-heatmap-blue-72 {
    background-color: rgb(0, 0, 183)
}

.bg-heatmap-blue-71 {
    background-color: rgb(0, 0, 180)
}

.bg-heatmap-blue-70 {
    background-color: rgb(0, 0, 178)
}

.bg-heatmap-blue-69 {
    background-color: rgb(0, 0, 175)
}

.bg-heatmap-blue-68 {
    background-color: rgb(0, 0, 173)
}

.bg-heatmap-blue-67 {
    background-color: rgb(0, 0, 170)
}

.bg-heatmap-blue-66 {
    background-color: rgb(0, 0, 168)
}

.bg-heatmap-blue-65 {
    background-color: rgb(0, 0, 165)
}

.bg-heatmap-blue-64 {
    background-color: rgb(0, 0, 163)
}

.bg-heatmap-blue-63 {
    background-color: rgb(0, 0, 160)
}

.bg-heatmap-blue-62 {
    background-color: rgb(0, 0, 158)
}

.bg-heatmap-blue-61 {
    background-color: rgb(0, 0, 155)
}

.bg-heatmap-blue-60 {
    background-color: rgb(0, 0, 153)
}

.bg-heatmap-blue-59 {
    background-color: rgb(0, 0, 150)
}

.bg-heatmap-blue-58 {
    background-color: rgb(0, 0, 148)
}

.bg-heatmap-blue-57 {
    background-color: rgb(0, 0, 145)
}

.bg-heatmap-blue-56 {
    background-color: rgb(0, 0, 143)
}

.bg-heatmap-blue-55 {
    background-color: rgb(0, 0, 140)
}

.bg-heatmap-blue-54 {
    background-color: rgb(0, 0, 138)
}

.bg-heatmap-blue-53 {
    background-color: rgb(0, 0, 135)
}

.bg-heatmap-blue-52 {
    background-color: rgb(0, 0, 133)
}

.bg-heatmap-blue-51 {
    background-color: rgb(0, 0, 130)
}

.bg-heatmap-blue-50 {
    background-color: rgb(0, 0, 128)
}

.bg-heatmap-blue-49 {
    background-color: rgb(0, 0, 125)
}

.bg-heatmap-blue-48 {
    background-color: rgb(0, 0, 123)
}

.bg-heatmap-blue-47 {
    background-color: rgb(0, 0, 120)
}

.bg-heatmap-blue-46 {
    background-color: rgb(0, 0, 118)
}

.bg-heatmap-blue-45 {
    background-color: rgb(0, 0, 115)
}

.bg-heatmap-blue-44 {
    background-color: rgb(0, 0, 113)
}

.bg-heatmap-blue-43 {
    background-color: rgb(0, 0, 110)
}

.bg-heatmap-blue-42 {
    background-color: rgb(0, 0, 108)
}

.bg-heatmap-blue-41 {
    background-color: rgb(0, 0, 105)
}

.bg-heatmap-blue-40 {
    background-color: rgb(0, 0, 103)
}

.bg-heatmap-blue-39 {
    background-color: rgb(0, 0, 100)
}

.bg-heatmap-blue-38 {
    background-color: rgb(0, 0, 98)
}

.bg-heatmap-blue-37 {
    background-color: rgb(0, 0, 95)
}

.bg-heatmap-blue-36 {
    background-color: rgb(0, 0, 93)
}

.bg-heatmap-blue-35 {
    background-color: rgb(0, 0, 90)
}

.bg-heatmap-blue-34 {
    background-color: rgb(0, 0, 88)
}

.bg-heatmap-blue-33 {
    background-color: rgb(0, 0, 85)
}

.bg-heatmap-blue-32 {
    background-color: rgb(0, 0, 83)
}

.bg-heatmap-blue-31 {
    background-color: rgb(0, 0, 80)
}

.bg-heatmap-blue-30 {
    background-color: rgb(0, 0, 78)
}

.bg-heatmap-blue-29 {
    background-color: rgb(0, 0, 75)
}

.bg-heatmap-blue-28 {
    background-color: rgb(0, 0, 73)
}

.bg-heatmap-blue-27 {
    background-color: rgb(0, 0, 70)
}

.bg-heatmap-blue-26 {
    background-color: rgb(0, 0, 68)
}

.bg-heatmap-blue-25 {
    background-color: rgb(0, 0, 65)
}

.bg-heatmap-blue-24 {
    background-color: rgb(0, 0, 63)
}

.bg-heatmap-blue-23 {
    background-color: rgb(0, 0, 60)
}

.bg-heatmap-blue-22 {
    background-color: rgb(0, 0, 58)
}

.bg-heatmap-blue-21 {
    background-color: rgb(0, 0, 55)
}

.bg-heatmap-blue-20 {
    background-color: rgb(0, 0, 53)
}

.bg-heatmap-blue-19 {
    background-color: rgb(0, 0, 50)
}

.bg-heatmap-blue-18 {
    background-color: rgb(0, 0, 48)
}

.bg-heatmap-blue-17 {
    background-color: rgb(0, 0, 45)
}

.bg-heatmap-blue-16 {
    background-color: rgb(0, 0, 43)
}

.bg-heatmap-blue-15 {
    background-color: rgb(0, 0, 40)
}

.bg-heatmap-blue-14 {
    background-color: rgb(0, 0, 38)
}

.bg-heatmap-blue-13 {
    background-color: rgb(0, 0, 35)
}

.bg-heatmap-blue-12 {
    background-color: rgb(0, 0, 33)
}

.bg-heatmap-blue-11 {
    background-color: rgb(0, 0, 30)
}

.bg-heatmap-blue-10 {
    background-color: rgb(0, 0, 28)
}

.bg-heatmap-blue-9 {
    background-color: rgb(0, 0, 25)
}

.bg-heatmap-blue-8 {
    background-color: rgb(0, 0, 23)
}

.bg-heatmap-blue-7 {
    background-color: rgb(0, 0, 20)
}

.bg-heatmap-blue-6 {
    background-color: rgb(0, 0, 18)
}

.bg-heatmap-blue-5 {
    background-color: rgb(0, 0, 15)
}

.bg-heatmap-blue-4 {
    background-color: rgb(0, 0, 13)
}

.bg-heatmap-blue-3 {
    background-color: rgb(0, 0, 10)
}

.bg-heatmap-blue-2 {
    background-color: rgb(0, 0, 8)
}

.bg-heatmap-blue-1 {
    background-color: rgb(0, 0, 5)
}

.bg-heatmap-blue-0 {
    background-color: rgb(0, 0, 0)
}
